@* Файл _StatusMessage.cshtml використовується для відображення повідомлень про статус на сторінках акаунта *@

@* Цей рядок вказує, що цей частковий вид очікує модель типу string. 
Модель буде представляти текстове повідомлення про статус. *@
@model string

@* Це умовна конструкція, яка перевіряє, чи модель (Model) не є порожньою або null. *@
@if (!String.IsNullOrEmpty(Model))
{
    /*Цей рядок визначає клас повідомлення статусу в залежності від того, чи текст повідомлення 
    починається з "Error". Якщо так, то встановлюється клас "danger" (червоний), 
    інакше - "success" (зелений). Це дозволяє використовувати різні стилі для повідомлень про 
    помилки та успішні дії.*/
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    /*Це визначення контейнера для повідомлення статусу, де alert-@statusMessageClass визначає стиль 
    повідомлення відповідно до попередньо визначеного класу statusMessageClass. alert-dismissible 
    додає кнопку для закриття повідомлення.*/
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @* Цей рядок створює кнопку закриття повідомлення. Ця кнопка дозволяє користувачам закривати 
        повідомлення про статус. *@
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @* Цей рядок виводить саме повідомлення про статус, яке було передано як модель. *@
        @Model
    </div>
}