@* Цей файл відображає сторінку з повідомленням про відмову в доступі та вказаним заголовком. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model AccessDeniedModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Access denied";
}

<header>
    @* Цей рядок виводить заголовок сторінки, який береться з ViewData, встановленого раніше. 
    У даному випадку заголовок сторінки - "Access denied". Використано клас "text-danger" 
    для виділення тексту червоним кольором, що може вказувати на серйозність помилки або 
    важливість повідомлення. *@
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @* Цей рядок виводить повідомлення про те, що користувач не має доступу до ресурсу. 
    Як і у випадку з заголовком, використано клас "text-danger" для виділення тексту червоним кольором. *@
    <p class="text-danger">You do not have access to this resource.</p>
</header>