@* Цей файл використовується для відображення сторінки підтвердження електронної адреси, 
з урахуванням можливості виведення повідомлень про статус за допомогою часткового виду _StatusMessage. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model ConfirmEmailModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Confirm email";
}
@* Виводить заголовок сторінки у розділі HTML. Заголовок береться з ViewData, який був встановлений раніше. *@
<h1>@ViewData["Title"]</h1>
@* Використовує частковий вид _StatusMessage для виведення повідомлення про статус. Це може бути
повідомлення про успіх, помилку або інше інформаційне повідомлення. Модель для часткового виду
передається через Model.StatusMessage. *@
<partial name="_StatusMessage" model="Model.StatusMessage" />
