@* Цей файл є сторінкою, призначеною для підтвердження зміни електронної пошти. *@
@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model ConfirmEmailChangeModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Confirm email change";
}
@* Виводить заголовок сторінки у розділі HTML. Заголовок береться з ViewData, який був встановлений раніше. *@
<h1>@ViewData["Title"]</h1>

@* Використовує частковий вид _StatusMessage для виведення повідомлення про статус. Це може бути 
повідомлення про успіх, помилку або інше інформаційне повідомлення. Модель для часткового виду 
передається через Model.StatusMessage. *@
<partial name="_StatusMessage" model="Model.StatusMessage" />
