@* Ця сторінка дозволяє користувачам ініціювати процес скидання пароля, введенням своєї електронної пошти. *@
@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model ForgotPasswordModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Forgot your password?";
}
@* Виводить заголовок сторінки у розділі HTML. Заголовок береться з ViewData, який був встановлений раніше. *@
<h1>@ViewData["Title"]</h1>
@* Заголовок другого рівня, який запитує користувача ввести свою електронну пошту. *@
<h2>Enter your email.</h2>
<hr />
@* Визначає блок з формою для введення електронної пошти. Цей блок розташований в рядку та містить 
форму з полем для введення електронної пошти та кнопкою для ініціювання процесу скидання пароля. *@
<div class="row">@* Визначає новий рядок у макеті Bootstrap. *@
    <div class="col-md-4"> @* Визначає колонку ширини 4 (md-4) у макеті Bootstrap. *@
        <form method="post"> @* Визначає HTML-форму для введення коду відновлення. *@
            @* Виводить повідомлення про помилки валідації, якщо вони виникають під час
            введення двофакторного аутентифікаційного коду. *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* Визначає блок для відновлення паролю. *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @* Кнопка для відправки форми та входу. *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
