@* Ця сторінка призначена для інформування користувача про блокування його облікового запису і надає 
відповідне повідомлення про те, коли він може спробувати увійти знову. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model LockoutModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Locked out";
}

<header> @* Цей тег містить вміст заголовка сторінки. *@
    @* Виводить заголовок сторінки у червоному кольорі. Заголовок береться з 
    ViewData і містить текст "Locked out". *@
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @* Параграф з повідомленням, що обліковий запис був заблокований, і користувачу радять 
    повернутися і спробувати знову пізніше. *@
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
