@* Цей файл сторінки взаємодіє з користувачем, який хоче скинути свій пароль, та забезпечує відповідний 
інтерфейс для введення необхідних даних та виконання дій. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model ResetPasswordModel
@{
    // Встановлюєм заголовок сторінки у ViewData.
    ViewData["Title"] = "Reset password";
}

@* Виводить заголовок сторінки у розділі HTML. Заголовок береться з ViewData, який був встановлений раніше. *@
<h1>@ViewData["Title"]</h1>
@* Заголовок сторінки, який надає користувачеві інструкції щодо скидання пароля. *@
<h2>Reset your password.</h2>
@* Горизонтальна лінія для візуального розділення елементів сторінки. *@
<hr />
@* Створюєм форму для скидання пароля за допомогою Bootstrap-класів *@
<div class="row">
    <div class="col-md-4">
        @* Форма, яка використовується для введення і відправлення даних. Використовує метод
        HTTP POST для відправлення даних. *@
        <form method="post">
            @* Виводить повідомлення про помилки валідації, якщо такі є. asp-validation-summary="ModelOnly"
            вказує, що виводити тільки повідомлення для моделі. *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* Приховане поле для передачі коду підтвердження скидання пароля. *@
            <input asp-for="Input.Code" type="hidden" />
            @* Блок коду для введення та валідації електронної пошти користувача, нового пароля 
            та підтвердження нового пароля. *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* Кнопка для відправлення форми для скидання пароля. *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид 
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}