@* Цей файл сторінки дозволяє користувачам надсилати запити на повторне відправлення листа для підтвердження 
електронної пошти, якщо їм не вдалося це зробити під час реєстрації чи інших обставин. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначає тип моделі, яка використовується на цій сторінці. *@
@model ResendEmailConfirmationModel
@{
    // Встановлює заголовок сторінки у ViewData.
    ViewData["Title"] = "Resend email confirmation";
}
@* Виводить заголовок сторінки у розділі HTML. Заголовок береться з ViewData, який був встановлений раніше. *@
<h1>@ViewData["Title"]</h1>
@* Заголовок сторінки, який надає користувачеві інструкції щодо скидання пароля. *@
<h2>Enter your email.</h2>
@* Горизонтальна лінія для візуального розділення елементів сторінки. *@
<hr />
@* створюєм форму за допомогою Bootstrap-класів для введення електронної пошти та відправлення запиту 
    на повторне відправлення листа для підтвердження. *@
<div class="row">
    <div class="col-md-4">
        @* Форма, яка використовується для введення і відправлення даних. Використовує метод
        HTTP POST для відправлення даних. *@
        <form method="post">
            @* Виводить повідомлення про всі помилки валідації, якщо такі є. asp-validation-summary="All" 
            вказує, що виводити всі повідомлення про помилки. *@
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @* Блок коду для введення та валідації електронної пошти користувача. *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @* Кнопка для відправлення форми і відправлення запиту на повторне відправлення листа 
            для підтвердження. *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
