@* використовується для відображення повідомлень статусу (наприклад, успішних або 
помилкових повідомлень) на сторінках в області "Account\Manage". *@
@* Визначає модель для цього partial view, і в даному випадку, це простий тип string, оскільки 
відображається тільки текст повідомлення. *@
@model string

@* Перевіряє, чи модель (рядок Model) не є порожнім або не є null. Це робиться для того, щоб визначити, 
чи потрібно виводити блок з повідомленням статусу. *@
@if (!String.IsNullOrEmpty(Model))
{
    /*Визначає клас для стилізації повідомлення в залежності від того, чи починається текст повідомлення 
    з рядка "Error".Якщо так, використовується клас "danger"(червоний колір), в іншому випадку - 
    "success"(зелений колір).*/
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    /*Створює блок для відображення повідомлення.Клас alert використовується для стилізації, 
    alert - @statusMessageClass визначає колір(danger або success), alert - dismissible дозволяє 
    закрити повідомлення, role = "alert" вказує роль блоку як повідомлення.*/
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @* Додає кнопку закриття повідомлення. *@
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @* Виводить текст повідомлення, яке міститься в моделі. *@
        @Model
    </div>
}