@* Ця сторінка дозволяє користувачам змінювати свій пароль 
за допомогою введення старого та нового паролів. *@
@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model ChangePasswordModel
@{
    // Ці значення використовуються для визначення заголовку та активної сторінки.
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@*  Виводим заголовок сторінки. *@
<h3>@ViewData["Title"]</h3>
@* Вставляєм частковий вид для відображення повідомлень статусу. *@
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row"> @* Визначає новий рядок у макеті Bootstrap. *@
    <div class="col-md-6"> @* Визначає колонку ширини 6 (md-6) у макеті Bootstrap. *@
        @* Розпочинається форма для відправлення POST-запиту на сервер. *@
        <form id="change-password-form" method="post">
            @* Цей блок відповідає за відображення валідаційних помилок. Використовує атрибут
            asp-validation-summary="ModelOnly",
            щоб відобразити тільки валідаційні помилки, пов'язані з моделлю. *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* Цей блок визначає контейнер для поля введення старого пароля *@
            <div class="form-floating mb-3">
                @* Це поле введення для старого пароля. Атрибут asp-for="Input.OldPassword" зв'язує його 
                з властивістю OldPassword моделі. autocomplete="current-password" вказує на те, що це 
                поле призначене для введення поточного пароля. *@
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                @* Ця мітка пов'язана з полем введення старого пароля і відображає текстову 
                інформацію біля поля. *@
                <label asp-for="Input.OldPassword" class="form-label"></label>
                @* Виводить валідаційні повідомлення для поля введення старого пароля у випадку помилок. *@
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            @* Цей блок визначає контейнер для поля введення нового пароля *@
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            @* Цей блок визначає контейнер для поля введення підтвердження зміни пароля *@
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* Створює кнопку для відправлення форми. Ця кнопка має синій колір ("btn-primary") *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
