@* цей файл Disable2fa.cshtml відображає сторінку для відключення двофакторної аутентифікації, надає 
 користувачеві інформацію про те, як ця дія впливає на його обліковий запис та надає можливість 
 виконати саму дію за допомогою кнопки "Disable 2FA". *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model Disable2faModel
@{
    // Ці значення використовуються для визначення заголовку та активної сторінки.
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@* Вставляєм частковий вид для відображення повідомлень статусу. *@
<partial name="_StatusMessage" for="StatusMessage" />
@*  Виводим заголовок сторінки. *@
<h3>@ViewData["Title"]</h3>

@* Цей блок коду створює візуальний елемент для відображення попередження. Класи "alert" та "alert-warning" 
використовуються для стилізації та форматування повідомлень. У цьому випадку, повідомлення має 
жовтий колір, що вказує на попередження. *@
<div class="alert alert-warning" role="alert">
    <p>
        @* Виводимо текст, що ця дія вимикає тільки 2х етапну перевірку *@
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        @* В цьому параграфі пояснюється, що відключення двофакторної аутентифікації (2FA) не змінює ключі, 
        використовувані в програмах автентифікації. Також, якщо користувач хоче змінити ключ, 
        використовуваний в програмі автентифікації, йому слід перейти за посиланням *@
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</div>

@* Цей блок коду створює допоміжний блок без конкретного класу або ідентифікатора. *@
<div>
    @* Розпочинається форма з методом post. Це означає, що дані форми будуть відправлені 
    на сервер при натисканні кнопки. *@
    <form method="post">
        @* Створюється кнопка з червоною (клас "btn-danger") стилізацією. Текст на кнопці - "Disable 2FA". 
        Це інтерфейсний елемент для виклику дії заборони двофакторної аутентифікації. *@
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>