@* Цей файл відображає сторінку для завантаження особистих даних користувача. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model DownloadPersonalDataModel
@{
    // Ці значення використовуються для визначення заголовку та активної сторінки.
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@*  Виводим заголовок сторінки. *@
<h3>@ViewData["Title"]</h3>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}