@* цей файл призначений для встановлення пароля для облікового запису, якщо у користувача 
ще немає локального пароля для сайту. *@

@*  Ця директива вказує, що цей файл є сторінкою *@
@page
@*  Визначаєм тип моделі, яка використовується на цій сторінці. *@
@model SetPasswordModel
@{
    // Ці значення використовуються для визначення заголовку та активної сторінки.
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@*  Виводим заголовок сторінки. *@
<h3>Set your password</h3>
@* Вставляєм частковий вид для відображення повідомлень статусу. *@
<partial name="_StatusMessage" for="StatusMessage" />

@* Текстовий контент, який повідомляє користувачеві, що у нього немає локального імені користувача/пароля 
для цього сайту, і заохочує додати локальний обліковий запис для можливості входу без зовнішнього входу. *@
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@* Створює рядок для організації вмісту в колонки *@
<div class="row">
    @* Створює колонку шириною в половину від контейнера, оскільки 
    використовується col-md-6 (bootstrap grid system). *@
    <div class="col-md-6">
        @* Визначає форму з ідентифікатором "set-password-form" та методом передачі POST. *@
        <form id="set-password-form" method="post">
            @* Виводить блок для валідації моделі, який покаже повідомлення про помилки вводу. *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @* Створює блок для введення нового пароля. Використовує клас form-floating з Bootstrap для 
            стилізації та ефекту "плаваючого" тексту у введенні. Виводить поле введення для 
            нового пароля, його мітку та повідомлення про валідацію. *@
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password."/>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* Виводить кнопку для відправки форми з текстом "Set password". 
            Стилізація кнопки виконана за допомогою класів Bootstrap. *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Set password</button>
        </form>
    </div>
</div>

@* Ця секція дозволяє вбудовувати скрипти на сторінку. У даному випадку, вставляється частковий вид
_ValidationScriptsPartial, який містить необхідні скрипти для валідації форми. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}