@*Це ім'я файлу, яке вказує на те, що цей код призначений для сторінки, яка буде відображати 
політику конфіденційності (Privacy Policy) на веб-сайті. *@

@{
    // визначається змінна ViewData["Title"] і їй призначається значення "Privacy Policy".
    ViewData["Title"] = "Privacy Policy";
}
@*Цей рядок виводить заголовок сторінки, використовуючи значення, яке було визначено для ViewData["Title"]. *@
<h1>@ViewData["Title"]</h1>

@*Цей рядок створює абзац тексту, який містить інструкції або опис того, що користувач повинен 
робити на цій сторінці.*@
<p>Use this page to detail your site's privacy policy.</p>
